<!-- Liste des onglets -->
{%if messages%}
{%for message in messages%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
     
  </div>
{%endfor%}
{%endif%}   

<div class="container-flex-onglets">
    {% if user.is_authenticated %}
    <div class="item-flex order1" class="style8" class="dropdown"><button onclick="sub_menu43()" class="dropbtn">Charger les<br>données système</button><div id="myDropdown6" class="dropdown-content"></div></div>
    <div class="item-flex order1" class="style8" class="dropdown"><button onclick="sub_menu38()" class="dropbtn">Resoudre le<br>système</button><div id="myDropdown6" class="dropdown-content"></div></div>
    <div class="item-flex order2" class="style8" class="dropdown"><button onclick="sub_menu37()" class="dropbtn">Retour<br>au menu</button><div id="myDropdown6" class="dropdown-content"></div></div>
    {% if user.is_staff %}
    <div class="item-flex order2" class="style8" class="dropdown"><button onclick="sub_menu45()" class="dropbtn">Accès à<br>l'administration</button><div id="myDropdown6" class="dropdown-content"></div></div>
    {%endif%}
    <div class="item-flex order4" class="style8" class="dropdown"><button onclick="sub_menu10()" class="dropbtn">Se<br>déconnecter</button><div id="myDropdown6" class="dropdown-content"></div></div>
    {%endif%} 