{% include "../_partials/_base.html"%}

{% block body %}
<br>
<form  method="post">
    <div style="margin:20px"><div class="style25">
        {% if user.is_authenticated %}  {{message}}
            <p>Connecté sous {{user.username}} |<a href="{% url 'connexion:logout'%}">Déconnexion</a> </p>
        {% else %}

            <h4 >Connectez-vous</h4>
            {% csrf_token%}
            {{form.as_p}}
            <button type="submit" name="action" class="btn btn-primary" style="margin:5px"  value="se_connecter">Se connecter</button>
            <button type="submit" name="action" class="btn btn-primary" style="margin:5px"  value="mot_passe_oublie" formnovalidate>Mot de passe oublié</button>
            <button type="submit" name="action" class="btn btn-primary" style="margin:5px"  value="inscription" formnovalidate>Inscription</button>
        
        {% endif %}
        
</div></div>
</form>

<br><br>
{% endblock %}
{% include "../_partials/_footer.html"%} 