{% if user.is_authenticated %}
{% include "../_partials/_base.html"%}
{%load static%}


{% block body %}
<div style="margin:20px"><div class="style25">
<br><h4>Vos prévisions</h4>
<br><p style="text-align:justify;"> Vous pouvez sauvegarder et comparer vos prévisions afin d'ajuster votre modèle Deep Learning.</p>
<br><br><button type="submit" class="btn btn-primary btn-lg">Lancer le calcul</button>
<button onclick="sub_menu37()" class="btn btn-primary btn-lg">Charger une prévision</button>
<br><br>
<img src="{% static 'images/recherche.png' %}"  width="100%" height="auto">
<br><br>
</div></div>

<br><br>
{% endblock %}
{% include "../_partials/_footer.html"%} 
{% else %}
<script> window.location.assign("http://localhost:20000/logout");</script>
{%endif%} 