{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>soluceapp Pytorch</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">   
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link rel="icon" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <script src="{% static 'js/script1.js' %}"></script>
        {% if user.is_authenticated %}<script src="{% static 'js/script_pytorch.js' %}"></script>{%endif%} 
    </head>

    <header class="style1">
        <!-- Entête du site -->
       <h2 class="style5">Pytorch.Soluceapp</h2>
       <p class="style6">Modèle d'IA appliqué à la recherche</p>

       
        {% include "./_header.html"%}
    </header> 

    
</html>
 