{% if user.is_authenticated %}
{% include "./_base.html"%}

{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}

{% block body %}
<div style="margin:20px"><div class="style25">
<br><h4>Configuration du modèle d'IA de {{user}}</h4>
<br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum vel voluptatum enim molestiae id quam minus nulla voluptas dicta repudiandae cupiditate ullam praesentium, expedita cum rem obcaecati aut iusto libero?
<br><br>
</div></div>

<br><br>
{% endblock %}
{% include "./_footer.html"%} 
{% else %}
<script> window.location.assign("http://localhost:20000/logout");</script>
{%endif%} 