{% include "./_base.html"%}

{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}

{% block body %}

<br>
<form method="post">
    <div style="margin:20px"><div class="style25">

            <h4>Changement de mot de passe</h4><br>
            
            {% csrf_token%}
            {{form.as_p}}

            <br><input type="button" class="btn btn-primary btn-lg" onclick="sub_menu7()" value="Retour accueil">
            <button type="submit" class="btn btn-primary btn-lg">Valider</button>
</div></div>
</form>

<br><br>
{% endblock %}
{% include "./_footer.html"%} 