{% include "./_base.html"%}

{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}


{% block body %}
<br>
<form method="post">
    <div style="margin:20px"><div class="style25">
        {% if user.is_authenticated %}  {{message}}
            <p>Connecté sous {{user.username}}|<a href="{% url 'connexion:logout'%}">Déconnexion</a> </p>
        {% else %}

            <h4 >Connectez-vous</h4>
            {% csrf_token%}
            {{form.as_p}}
            <input class="btn btn-primary"  style="margin:5px" type="submit" value="se connecter">
            <input class="btn btn-primary"  style="margin:5px" type="button" onclick="sub_menu6()" value="Mot de passe oublié">
            <input class="btn btn-primary"  style="margin:5px" type="button" onclick="sub_menu9()" value="Inscription">
        
        {% endif %}
        
</div></div>
</form>

<br><br>
{% endblock %}
{% include "./_footer.html"%} 