{% if user.is_authenticated %}
{% include "../_partials/_base.html"%}
{%load static%}


{% block body %}

<div style="margin:20px"><div class="style25">
<br><h4>Créer les données manuellement</h4>
<br><p style="text-align:justify;"> Vous devez allez rentrer manuellement les données que vous désirez.</p>
<br><br>
<form method="POST">
	{%csrf_token%}
	{{form.as_p}}
	<br><br><button type="submit" class="btn btn-primary btn-lg">Confirmer</button>
	
</form><button onclick="sub_menu37()" class="btn btn-primary btn-lg" style="margin:10px">Retour</button>
<br><br>
<img src="{% static 'images/configpython.png' %}"  width="100%" height="auto">
</div></div>

<br><br>
{% endblock %}



{% include "../_partials/_footer.html"%} 
{% else %}
<script> window.location.assign("http://localhost:20000/logout");</script>
{%endif%} 